@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(http://fonts.googleapis.com/css?family=Monoton);
body {
  margin: 10px 5%; }

div h1 {
  font-family: 'Monoton', cursive;
  font-size: 2em; }

h2, h3, h4, h5, p, a, button, input {
  font-family: 'News Cycle', sans-serif; }

.button {
  display: inline-block;
  margin: 20px 100px;
  font-family: 'Poiret One', sans-serif;
  color: black;
  text-decoration: none;
  border: dashed 1px;
  padding: 10px;
  cursor: pointer; }
  .button:hover {
    background: black;
    color: white; }

.cell {
  height: 10px;
  width: 10px;
  background: yellow;
  border: 1px solid; }

.grid {
  margin: 1em auto;
  border-collapse: collapse; }

.grid td {
  padding: 3px;
  border: 1px solid #ccc;
  text-align: center;
  font-family: sans-serif;
  font-size: 13px; }

.grid td.clicked {
  background-color: yellow;
  font-weight: bold;
  color: red; }

.alive {
  background-color: yellow; }

.neighborTest {
  background: red; }
